@import './styles.css';


body,*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;    
}
img{
    display: block;
    width: 100%;
    height: 100%;
}