@import './styles.css';


body,*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;    
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

.imgRoom{
    width: 150px;
    height: 400px;
    margin-left: 15px;
    border-radius: 100px;
    border: 2px solid #4F5A49;
}

.imgRoomCenter{
    margin-top: 70px;
}