.nav-link{
    color: #fff;
}

/* HeaderText Componet Styles */

.header-content{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%,-50%);
}
.header-content-title{
    font-size: 35px;
    text-align: center;
}
.header-content-mute{
    font-size: 18px;
    color: gray;
    text-align: center;
    margin-top: 60px;
}



